*{
	margin: 0 auto;
	padding: 0;
}
html, body {
	margin:0 auto;
	padding:0;
	width: 100%;
	height: 100%;

}
body {
	font-family: 'Open Sans', arial, sans-serif;
}
a {
	text-decoration: none;
}
header {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background-color: rgba(84, 85, 86, 0.7);
	position: fixed;
	z-index: 99999999;
	text-align: center;
}
ul img{
	width:80px;
	height:80px;
}
nav ul {

	margin:0 auto;
	color: #fff;
}
nav ul li {
	display: inline;
	padding: 50px;
	list-style-type: none;
	font-size: 1.50em;
}
nav ul li a {
	color: #fff;
	font-size: 0.8em;
	text-decoration:none;
}
nav ul li a:hover {
	color: #fff;
}

.sect{
	width: 100%;
	height: 100%;
	padding: 0;
}
#home{
margin:0 auto;
padding: 21% 0;
text-align: center;
color:#333;
font-weight:900;
word-spacing: 0.4em;
background-image: url('images/classicstyleddesk.jpg');
background-repeat: no-repeat;
background-position: 50% 50%;
background-attachment: fixed;
background-size: cover;
-moz-background-size:cover;
-o-background-size:cover;
-ms-background-size:cover;
}
#home p {
font-size: 18px;
margin-bottom:30px;
}
.col {
color: #CD5F17;
border: 3px solid #CD5F17;
border-radius: 15px;
font-weight: 900;
font-size: 14px;
letter-spacing: 1.2px;
padding: 14px 24px;
text-decoration: none;
}
.col:hover {
border: 3px solid #fff;
color: #333;
text-decoration: none;
}

#about{
	background-color:#545556;
}
.logoside img{
width: 315px;
height:300px;
float: left;
margin:0 auto;
padding:0;
margin-top:70px;
}
.logoside img:nth-child(2){
margin-left:10%;
}
.row{
padding-top:3.5%;
}
.middle{
margin-top: 18px;
padding-left: 40px;
}
.middle p{
font-size: 16px;
font-weight: 300;
line-height: 1.5em;
color: #fff;
word-spacing: 0.3em;
}
.middle h1{
color: #ffff1a;
font-weight: bold;
text-align: center;
}
.line{
border-top: 2px solid #d6d6d6;
}
.gallery img{
width:100%;
height:300px;
margin-top:10px;
}
.gallery a{
	text-decoration: none;
	color: #ffff1a;
}
.rowwrapper{
margin-top:7%;
}
#portfolio{
margin-top:-110px;
height: 160%;
}
#portfolio h1 {
color: #ffff1a;
font-weight: bold;
text-align: center;
}
#portfolio p {
color: #ffff1a;
font-size: 17px;
text-align: center;
margin-top:30px;
margin-bottom:20px;
}
#skills{
text-align:center;
margin-top:12%;
background-color: #fff;
height:95%;
}
#skills h1{
color: #545556;
font-weight: bold;
margin-bottom:50px;
}
.gallery1 img{
width:100px;
height:80px;
}


footer {
    background-color: #555;
    color: white;
    padding: 10px;
	text-align:center;
}
footer p{
padding:15px;
}

